version: 2
jobs:
  build:
    working_directory: ~/cyclops-backend
    docker:
      - image: circleci/node:10.16.0
        environment:
          NODE_ENV: test
          DATABASE_URL_TEST: postgresql://postgres@localhost/circle_test
          GOOGLE_CALLBACK_URL: http://localhost:3000/api/v1/oauth/google
      - image: circleci/postgres:10

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: npm install
      - run: npm run db:migrate
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - run: npm test
